In [1]:
import mysql.connector

In [7]:
import pandas as pd
import sqlalchemy 
#import pymysql

engine = create_engine('mysql+pymysql://root@localhost:8081/test?charset=utf8mb4')



airlines = pd.read_csv('../static/airlines.csv')

airlines.to_sql('airlines', dtype={
    'carrier': sqlalchemy.types.NVARCHAR(length=2),
    'name': sqlalchemy.types.NVARCHAR(length=30)
                                  } , con=engine, if_exists='append', index = False)

engine.execute("SELECT * FROM airlines").fetchall()


#conn.close()

[('9E', 'Endeavor Air Inc.'),
 ('AA', 'American Airlines Inc.'),
 ('AS', 'Alaska Airlines Inc.'),
 ('B6', 'JetBlue Airways'),
 ('DL', 'Delta Air Lines Inc.'),
 ('EV', 'ExpressJet Airlines Inc.'),
 ('F9', 'Frontier Airlines Inc.'),
 ('FL', 'AirTran Airways Corporation'),
 ('HA', 'Hawaiian Airlines Inc.'),
 ('MQ', 'Envoy Air'),
 ('OO', 'SkyWest Airlines Inc.'),
 ('UA', 'United Air Lines Inc.'),
 ('US', 'US Airways Inc.'),
 ('VX', 'Virgin America'),
 ('WN', 'Southwest Airlines Co.'),
 ('YV', 'Mesa Airlines Inc.'),
 ('9E', 'Endeavor Air Inc.'),
 ('AA', 'American Airlines Inc.'),
 ('AS', 'Alaska Airlines Inc.'),
 ('B6', 'JetBlue Airways'),
 ('DL', 'Delta Air Lines Inc.'),
 ('EV', 'ExpressJet Airlines Inc.'),
 ('F9', 'Frontier Airlines Inc.'),
 ('FL', 'AirTran Airways Corporation'),
 ('HA', 'Hawaiian Airlines Inc.'),
 ('MQ', 'Envoy Air'),
 ('OO', 'SkyWest Airlines Inc.'),
 ('UA', 'United Air Lines Inc.'),
 ('US', 'US Airways Inc.'),
 ('VX', 'Virgin America'),
 ('WN', 'Southwest Airlines Co.'),
 ('YV', 'Mesa Airlines Inc.'),
 ('9E', 'Endeavor Air Inc.'),
 ('AA', 'American Airlines Inc.'),
 ('AS', 'Alaska Airlines Inc.'),
 ('B6', 'JetBlue Airways'),
 ('DL', 'Delta Air Lines Inc.'),
 ('EV', 'ExpressJet Airlines Inc.'),
 ('F9', 'Frontier Airlines Inc.'),
 ('FL', 'AirTran Airways Corporation'),
 ('HA', 'Hawaiian Airlines Inc.'),
 ('MQ', 'Envoy Air'),
 ('OO', 'SkyWest Airlines Inc.'),
 ('UA', 'United Air Lines Inc.'),
 ('US', 'US Airways Inc.'),
 ('VX', 'Virgin America'),
 ('WN', 'Southwest Airlines Co.'),
 ('YV', 'Mesa Airlines Inc.')]

In [22]:
import sqlalchemy 

#engine = create_engine('mysql+pymysql://id:password@host:port/database?charset=utf8mb4')
engine = create_engine('mysql+pymysql://root@localhost:8081/plane-analytics?charset=utf8mb4')

In [20]:
import pandas as pd

planes = pd.read_csv('../static/planes.csv')

     tailnum  year                     type                   manufacturer  \
0     N10156  2004  Fixed wing multi engine                        EMBRAER
1     N102UW  1998  Fixed wing multi engine               AIRBUS INDUSTRIE
2     N103US  1999  Fixed wing multi engine               AIRBUS INDUSTRIE
3     N104UW  1999  Fixed wing multi engine               AIRBUS INDUSTRIE
4     N10575  2002  Fixed wing multi engine                        EMBRAER
...      ...   ...                      ...                            ...
3317  N997AT  2002  Fixed wing multi engine                         BOEING
3318  N997DL  1992  Fixed wing multi engine  MCDONNELL DOUGLAS AIRCRAFT CO
3319  N998AT  2002  Fixed wing multi engine                         BOEING
3320  N998DL  1992  Fixed wing multi engine  MCDONNELL DOUGLAS CORPORATION
3321  N999DN  1992  Fixed wing multi engine  MCDONNELL DOUGLAS CORPORATION

          model  engines  seats speed     engine
0     EMB-145XR        2     55        Turbo-fan
1      A320-214        2    182        Turbo-fan
2      A320-214        2    182        Turbo-fan
3      A320-214        2    182        Turbo-fan
4     EMB-145LR        2     55        Turbo-fan
...         ...      ...    ...   ...        ...
3317    717-200        2    100        Turbo-fan
3318      MD-88        2    142        Turbo-fan
3319    717-200        2    100        Turbo-fan
3320      MD-88        2    142        Turbo-jet
3321      MD-88        2    142        Turbo-jet

[3322 rows x 9 columns]

In [27]:
planes.to_sql('planes',  dtype={
    'tailnum': sqlalchemy.types.NVARCHAR(length=6)
                                  },con=engine, if_exists='replace', index = False)

#airlines.to_sql('airlines', con=engine, if_exists='append', index = False)