In [1]:
import mysql.connector

In [2]:
#conn = psycopg2.connect("dbname=main user=root password=root port=8080 host=localhost")
#conn = db.Connection(user='root', password='root',
#host='localhost', charset='utf8mb4', port=8080)
    
conn = mysql.connector.connect(user='root', database='test', port='8081')

csr = conn.cursor()
csr.execute()



conn.close()
#try:
#csr = conn.cursor()
#print(csr.execute("SHOW DATABASES"))
    # print(cursor().execute("SHOW DATABASES"));
  #  conn.cursor()
    #mycursor = mydb.cursor()

    #mycursor.execute("CREATE DATABASE mydatabase")
    #with conn.cursor() as cursor:
       # print(1)
       
       # cursor.execute("CREATE DATABASE IF NOT EXISTS test_db_1;")
       # cursor.execute("USE test_db_1;")
       # cursor.execute("CREATE TABLE IF NOT EXISTS test_table_1(nom int);")
       
    #conn.commit()
        
#finally:
   # conn.close()

TypeError: execute() missing 1 required positional argument: 'operation'

In [44]:
import pandas as pd
from sqlalchemy import create_engine
#import pymysql

engine = create_engine('mysql+pymysql://root@localhost:8081/test?charset=utf8mb4',)



airlines = pd.read_csv('../static/airlines.csv')

airlines.to_sql('airlines', dtype={
    'carrier': sqlalchemy.types.NVARCHAR(length=2),
    'name': sqlalchemy.types.NVARCHAR(length=30)
                                  } , con=engine, if_exists='append', index = False)

engine.dispose()
#engine.execute("SELECT * FROM airlines").fetchall()


#conn.close()