# Question 1

In [5]:
from sqlalchemy import create_engine
from sqlalchemy.sql import text
from flask import jsonify
engine = create_engine('mysql+pymysql://root@localhost:8081/airport-analytics?charset=utf8mb4')

In [8]:
question_1 = text("""SELECT (
        SELECT COUNT(*)
        FROM   airlines
        ) AS airlines_count,
        (
        	SELECT COUNT(*)
        	FROM   airports
        ) AS airports_count,
        (
            SELECT COUNT(DISTINCT dest)
            FROM flights
        ) AS flights_distinct_dest_count,
         (
            SELECT COUNT(*)
            FROM planes
        ) AS planes_count,
        (
            SELECT COUNT(DISTINCT tzone)
            FROM airports
        ) AS airports_distinct_tzone_count
FROM    DUAL""")

with engine.connect() as con:
    data = con.execute(question_1).fetchall()
    print(data)

[(16, 1458, 100, 3322, 10)]